@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-size: 100%;
}

/* Barra de Navegação */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 1440px;
    height: 80px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif ;
    width: 1440px;
    height: 80px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    width: 1280px;
    height: 44px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Logo e Nome da Empresa */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 148px;
    height: 27px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#icon {
    width: 27px;
    height: 26.99px;
}

#tag {
    width: 113px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A404E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Espaço */
#white {
    width: 142px;
    height: 32px;
}

/* Links de Acesso a outras abas do site */
.nav-bar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
    width: 362px;
    height: 32px;
   
}

.tags-links {
    width: 47px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* Login e Cadastro */
.nav-bar-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 207px;
    height: 44px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 112px;
    height: 44px;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    width: 112px;
    height: 44px;
    background: #8E2424;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.txtbtn {
    width: 76px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
}

/* Introdução sobre a empresa */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
    width: 1440px;
    height: 407px;
    font-family: 'Inter', sans-serif;
}

#subheader {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

#h1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02rem;
    color: #101828;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px;
    width: 792px;
    height: 83px;
    flex: none;
    order: 2;
    flex-grow: 1;
}

#suptxt {
    width: 791px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

/* Dados sobre a empresa */
.metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 96px;
    width: 1440px;
    height: 288px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 64px;
    width: 1280px;
    height: 192px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    width: 1216px ;
    height: 192px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
}

.number-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 280px;
    height: 168px;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
}

.number {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
}

.txt-sptxt1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 280px;
    height: 84px;
    flex: none;
    order: 1;
    flex-grow: 0;
    align-self: stretch;
}

.txt {
    width: 280px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
}

.sptxt {
    width: 280px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    flex: none;
    order: 1;
    flex-grow: 0;
    align-self: stretch;
}

/* Vagas de emprego */
.jobvagancies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;
    width: 1440px;
    height: 1798px;
}

/* Talentos */
.description {
    width: 1280px;
    height: 602px;
    font-family: 'Inter',sans-serif;
    margin-bottom: 64px;
}

#imgpeoplework {
    margin-top: 64px;
    position:static;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    left: 90px;
    margin-bottom: 64px;
}

.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 1216px;
}

.heading-sptxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 768px;
}

#sptxt {
    width: 768px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
}

.heading-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 768px;
}

#heading {
    width: 768px;
    height: 44px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.bdg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 125px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bdgbase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    width: 125px;
    height: 28px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    flex: none;
    flex-grow: 0;
    order: 0;
}

#bdg {
    width: 101px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vagas Disponíveis */
.openpositions {
    margin-top: 64px;
    width: 1280px;
    height: 940px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    width: 1280px;
    height: 358px;
    left: calc(50% - 1280px/2);
    margin-bottom: 64px;
}

.content4 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0;
   gap: 32px;
   width: 768px;
   height: 358px;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.container5 {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 32px;
   width: 1280px;
   height: 518px;
   left: calc(50% - 1280px/2);
}

.content5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    width: 768px;
    height: 518px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.txt2 {
    width: 768px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 30px;
    color: #101828;
}

.items2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0;
   gap: 24px;
   width: 798px;
   height: 296px;
   flex: none;
   order: 1;
   flex-grow: 0;
   align-self: stretch;
}

.jobs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 28px;
    gap: 24px;
    width: 768px;
    height: 136px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.contentjobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 720px;
    height: 84px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.txt-sptxtjobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 720px;
    height: 28px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.txtjobs {
    width: 768px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    font-weight: 28px;
    color: #101828;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 720px;
    height: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;   
}

.timework {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 68px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;   
}

.time {
    width: 68px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 24px;
    color: #667085;
}

.salarywrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 171px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;   
}

.salary {
    width: 171px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 24px;
    color: #667085;
}

/* Depoimentos */

.depositions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 96px;
    width: 1440px;
    height: 500px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
}

.container6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 32px;
    width: 1280px;
    height: 404px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;
    width: 1216px;
    height: 404px;
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.name-subheading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    width: 1088px;
    height: 124px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subheading {
    width: 1088px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;text-align: center;    
    color: #8E2424;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.name {
    width: 1088px;
    height: 88px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 1088px;
    height: 120px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.avatar-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 1088px;
    height: 120px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 56px;
    height: 56px;
    border-radius: 200px;
    flex: none;
    order: 0;
    flex-grow: 0;   
}

.txt-sptxt2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;
    width: 1088px;
    height: 48px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.txt3 {
    width: 1088px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sptxt2 {
    width: 1088px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;
    width: 1440px;
    height: 430px;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
}

.container7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 32px;
    width: 832px;
    height: 182px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 768px;
    height: 182px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.heading-sptxt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 768px;
    height: 94px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading-form {
    width: 768px;
    height: 44px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sptxt-form {
    width: 768px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.insertemail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    width: 492px;
    height: 48px;
    order: 1;
    flex-grow: 0;
    flex: none;

}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 360px;
    height: 48px;
    order: 0;
    flex-grow: 0;
    flex: none;
}

.field-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 360px;
    height: 48px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
}

.input-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 6px;
    width: 360px;
    height: 48px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
}

.content-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px 12px 16px;
    gap: 8px;
    width: 360px;
    height: 48px;
    border: 1px solid #D0D5DD;
    box-shadow: 0 1px 2px rgba(16, 26,40, 0.05);
    border-radius: 8px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    flex: none;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 330px;
    height: 24px;
    flex-grow: 0;
    flex: none;
    order: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;

}

.button2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 116px;
    height: 48px;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-txt {
    width: 393px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #98A2B3;
    flex: none;
    order: 1;
    flex-grow: 0;
}